@media screen and (max-width:991px) {
  .celda {
    max-height: 209px !important;
    padding: 0 !important;
  }

  .botones {
    padding: 0 !important;
    min-height: 209px;
  }
}

main {
  height: 80vh;
  padding: 50px 0;
}

.item-adm:hover {
  border-bottom: none !important;
}

#logout {
  background-color: #485563;
  color: white;
  border: none;
}

.bot-logout {
  overflow: hidden;
}

.title {
  font-family: 'Turret Road', cursive;
  color: #269cb5 !important;
  font-size: 30px;
}


body {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-attachment: fixed;
  background-size: contain;
}

.modal-body {
  display: inline-block !important;
}


@media screen and (max-width:560px) {
  .table-game {
    display: block;
    overflow-x: auto;
    white-space: nowrap;
  }

  main {
    height: 100%;
  }

}