*{
    box-sizing: border-box;
    overflow-x: hidden;
}

.tarjeta-nosotros {
    height: 450px;
}

.foto-tarjeta-n {
    width: 200px;
    height: 220px;
}

.cont-img{
    overflow-y: hidden;
}

@font-face {
    font-family: 'Turret Road';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/turretroad/v7/pxiAypMgpcBFjE84Zv-fE0tMMPKzSQ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
  }

  body{
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-attachment: fixed;
    background-size: contain;
  }

  /*Estilos Navbar*/
.nav-link{
    color: white;
  }
  
  .navbar-nav > li {
    font-size: 1.2rem;
    height: 1.2rem;
  }
  
  .navbar-nav > li :hover {
    border-bottom: 3px solid #2bc9c8;
    color: white;
  }

    /* style del footer */

    @import url('https://fonts.googleapis.com/css2? familia=Montserrat&display=swap');
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        font-family: 'Montserrat', sans-serif;
    }
    /*::::: Pie de Pagina*/
    .pie-pagina{
        width: 100%;
        background-color: #0a141d;
    }
    .pie-pagina .grupo-1{
        width: 100%;
        max-width: 1200px;
        margin: auto;
        display:grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 50px;
        padding: 45px 0px;
    }
    .pie-pagina .grupo-1 .box figure{
        width:100%;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .pie-pagina .grupo-1 .box figure img{
        width: 250px;
    }
    .pie-pagina .grupo-1 .box h2{
        color: #fff;
        margin-bottom: 25px;
        font-size: 20px;
    }
    .pie-pagina .grupo-1 .box p{
        color: #efefef;
        margin-bottom: 10px;
    
    }
    .pie-pagina .grupo-1 .red-social a{
        display: inline-block;
        text-decoration: none;
        width: 45px;
        height: 45px;
        line-height: 45px;
        color: #fff;
        margin-right: 10px;
        background-color: #0d2033;
        text-align: center;
        transition: all 300ms ease;
    }
    .pie-pagina .grupo-1 .red-social > a:hover{
        color: #C70039;
    }
    .pie-pagina .grupo-2{
        background-color: #0a1a2a;
        padding: 15px 10px;
        text-align: center;
        color: #fff;
    }
    .pie-pagina .grupo-2 small{
        font-size: 15px;
    }
    @media screen and (max-widht:800px){
        .pie-pagina .grupo-1{
            width: 90%;
            grid-template-columns: repeat(1, 1fr);
            grid-gap: 30px;
            padding: 35px 0px;}}

