* {
    box-sizing: border-box;

}


.tarjeta-nosotros {
    height: 400px;
    padding: 0.5px !important;
    overflow: hidden;
}

.card-body {
    background-color: #0a141d;
    color: #efefef;
    overflow: hidden;

}


.foto-tarjeta-n {
    width: 250px;
    height: 250px;   
}

.cont-img { 
    background-color: #0a141d;
}

#title-about {
    font-family: 'Turret Road', cursive;
    color: #269cb5;
}

#texto-nosotros {
    font-family: 'Turret Road', cursive;
}

body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-attachment: fixed;
    background-size: contain;
}


.rounded-circle{
    border-radius: 95px !important;
    background-color: #142d33;
    padding: 5px;
}

.card{
    background-color: #439cad !important;
    padding: 3px !important;
}