* {
    box-sizing: border-box;

}


.tarjeta-nosotros {
    height: 450px;
    padding: 0.5px !important;
    overflow: hidden;
}

.card-body {
    background-color: #0a141d;
    color: #efefef;
    overflow: hidden;
}


.foto-tarjeta-n {
    width: 150px;
}

.cont-img {
    overflow-y: hidden;
    background-color: #0a141d;
}

#title-about {
    font-family: 'Turret Road', cursive;
    color: #269cb5;
}

#texto-nosotros {
    font-family: 'Turret Road', cursive;
}

body {
    background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
    background-attachment: fixed;
    background-size: contain;
}

/*Estilos Navbar*/
.nav-link {
    color: white;
}


/* .about-title {
    font-family: 'Turret Road', cursive;
    font-size: 2em;
    color: #269cb5;
} */