.securityContainer{
    background-color: white;
    border-radius: 10px;
}

.form-container{
    display: flex;
    justify-content: space-around;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.recovery-logo{
    height: 400px;
    width: 400px;
    
}

.button-color{
    background-color: button-color;
}