input {
    color: #fff;
    font-size: 20px;
    border: 5px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 100%;
    transition: 1s;
    width: 50%;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
   