input {
    color: #fff;
    font-size: 20px;
    border: 5px solid #8707ff;
    border-radius: 10px;
    padding: 10px 25px;
    background: transparent;
    max-width: 100%;
    transition: 1s;
    width: 50%;
   }
   
   .input:active {
    box-shadow: 2px 2px 15px #8707ff inset;
   }
   input[type="search"]::-webkit-search-cancel-button {

    /* Remove default */
    -webkit-appearance: none;
      
    /* Now your own custom styles */
    height: 40px;
    width: 40px;
    background: rgb(18, 147, 227);
    /* Will place small red box on the right of input (positioning carries over) */
  
  }
   
   
  #btnSearch{
    background-color: #269cb5;
    color: #fff;
    transition: 0.2s;
    height: 3rem;
    margin-bottom: 13px;
    
   }
   #btn:hover{
    background-color: #11849b;
   }
   


   