/* 
@font-face {
  font-family: 'Turret Road';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.googleapis.com/css2?family=Turret+Road:wght@300&display=swap);
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
} */


body {
  background-image: linear-gradient(60deg, #29323c 0%, #485563 100%);
  background-attachment: fixed;
  background-size: contain;
}

/*Estilos Navbar*/

.nav-link{
  color: white;
}

.navbar-nav > li {
  font-size: 1.2rem;
  height: 1.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar-nav > li :hover {
  border-bottom: 3px solid #2bc9c8;
  color: white;
}
.pie-pagina{
  font-family: 'Turret Road', cursive;
  margin-top: 2em;
  background-color: #212529!important;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.footer-title{
  color: #269cb5;
}

.item-adm:hover{
  border-bottom: none !important;
}
.pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  }
#logout{
  background-color: #485563 ;
  color: white;
  border: none;
}

.bot-logout{
  overflow: hidden;
}

.icon_navbar_collapse{
  color: white;

}

#bim {
  height: 250px;
}

.modal-body {
  display: flex;
}

.passRecover {
  text-decoration: none;
}

.item-adm:hover {
  border-bottom: none !important;
}

#logout {
  background-color: #485563;
  color: white;
  border: none;
}

.bot-logout {
  overflow: hidden;
}

.modal-container {
  display: flex;
  justify-content: space-around;
}

.icon_navbar_collapse {
  color: white;
}

.bimo {
  display: flex;
  justify-content: center;
}

.navbar-background{
  background-color: #212529!important;
}


.user-icon {
  max-width: 8%;
}

.dropdown-menu {
  left: -59% !important;
}

.socials{
  text-decoration: none;
  font-size: 2em;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #29323c !important;
}
.button-color{
  background-color: #269cb5;
}
@media (max-width: 1200px) {
  .modal-body {
    flex-direction: column;
  }
}

@media (max-width: 300px) {
  #bim {
    height: 150px;
  }

}

@media screen and (max-width:630px) { 
  h1{
    font-size: 16px;
    }
};


/*::::: SECCION NOSOTROS */



#bim {
  height: 250px;
}

.modal-body {
  display: flex;
}

.passRecover {
  text-decoration: none;
}

.item-adm:hover {
  border-bottom: none !important;
}

#logout {
  background-color: #485563;
  color: white;
  border: none;
}

.bot-logout {
  overflow: hidden;
}

.modal-container {
  display: flex;
  justify-content: space-around;
}

.icon_navbar_collapse {
  color: white;
}

.bimo {
  display: flex;
  justify-content: center;
}

.navbar-background{
  background-color: #212529!important;
}


.user-icon {
  max-width: 8%;
}

.dropdown-menu {
  left: -59% !important;
}

.socials{
  text-decoration: none;
  font-size: 2em;
}

.dropdown-item:hover {
  background-color: rgba(255, 255, 255, 0) !important;
  color: #29323c !important;
}
.button-color{
  background-color: #269cb5;
}
@media (max-width: 1200px) {
  .modal-body {
    flex-direction: column;
  }
}

@media (max-width: 300px) {
  #bim {
    height: 150px;
  }

}
